:root {
    --fundo: #555;
    --button-hover: #888;
    --button-focus: #81763d;
    --operation: #17a2b8;
    --detach: #20c997;
    --white: white;
    --dark: #343a40;;
    --display: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    /* margin: 0;
    border: 1px solid var(--fundo);
    background-color: var(--dark); */
}

main.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: var(--fundo);
    height: min(90vh, 450px);
    width: min(90vw, 300px);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    font-size: xx-large;
    flex: 1;
    justify-content: end;
    align-items: center;
    background-color: var(--display);
    overflow: hidden;
    margin: 2px 1px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

.linha {
    display: flex;
}

.btn {
    border-radius: 3px;
    margin: 1px;
    padding: 3px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: background-color ease-in 150ms;
}

.btn:hover {
    background-color: var(--button-hover);
}

.btn:focus, .btn:active {
    background-color: var(--button-focus);
    transition: none;
}

.unique-btn {
    flex-basis: 25%;
}

.double-btn {
    flex-basis: 50%;
}

.triple-btn {
    flex-basis: 75%;
}

.operation {
    background-color: var(--operation);
    color: var(--white);
}

.detach {
    background-color: var(--detach);
    color: var(--white);
}